* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
  background-color: rgb(253, 237, 145);
}

/* login page */

.login-container {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-top: 100px;
}

.login, .register {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  justify-content: center;
  align-items: center;
  color: brown;
}

 .register > input {
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  border: solid 1px brown;
}

.login > input {
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  border: solid 1px brown;
}

.btn {
  background-color: brown;
  padding: 5px;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
border: solid 1px black;
}

/* Contacts Page */

/* Filter */

.filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.filter-form {
  display: flex;
  gap: 10px ;
  justify-content: flex-start;
  width: 50%;
}

/* Edit contact form */

.edit-contact {
  display: none;
}

.edit-contact-show {
  display: block;
}

.contact {
  display: flex;
  gap: 10px;
  border: 2px solid brown;
  padding: 10px;
  border-radius: 5px;
}